<!-- Assistant Component HTML -->

<div class="row">
    <class class="container-fluid">
      <div class="side-body">
      
  
  <!-- rows of displaying students cards  -->
  
  <!-- loop to  contain 4 cards with 4 buttons -->
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="row">
              <div class="col-sm-3">
                <div class="product-card">
  
                  <div class="product-tumb">
                      <img src="..\assets\img\avatar.png" alt="">
                  </div>
                  <div class="product-details">
    
                      <h3>Dina Ali</h3>
                      <p>Counting</p>
                      <p>Cairo Unvirsity</p>
    
                  </div>
              </div>
              <div class="danger"> 
                <a href="#/detailteacherprofile">
                  <button type="button" style="width: 100%; margin-bottom: 14%;"class="btn btn-danger">View</button>
                  </a>
              </div>
              </div>
  
            
  
            </div>
          </div>
        </div>
  
       
  
  
  
      </div>
  
    </class>
  </div>