
<div class="sidebar-wrapper">
<!-- Area of logo and name -->
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-image-small">
        <!-- logo image -->
        <img src="assets/img/angular2-logo.png">
      </div>
    </a>
    <!-- site name -->
    <a href="#" class="simple-text logo-normal">
      E-learning
    </a>
  </div>

<!-- page list of all component -->
    <ul class="nav">
      <!-- first page (componenet) -->
        <li  routerLinkActive="active" class="''" >
            <a href="../pages/dashboard/dashboard.component.html" >
                <i class="fa fa-home"></i>
                <p>home</p>
            </a>
           
        </li>
      <!-- second page (componenet) -->

        <li  routerLinkActive="active" class="''" >
          <a href="#/students" >
              <i class="fa fa-graduation-cap"></i>
              <p>Students</p>
          </a>
         
      </li>
      <!-- third page (componenet) -->

      <li routerLinkActive="active" class="''" >
        <a href="#/teacher" >
            <i class="fa fa-users"></i>
            <p>Teachers</p>
        </a>
       
    </li>
      <!-- forth page (componenet) -->

    <li  routerLinkActive="active" class="''" >
      <a href="#/teacherRequest" >
          <i class="fa fa-newspaper-o"></i>
          <p>Teacher Requests</p>
      </a>
     
  </li>
      <!-- fifth page (componenet) -->

  <li  routerLinkActive="active" class="''" >
    <a href="#/subject" >
        <i class="fa fa-book"></i>
        <p>Subjects</p>
    </a>
   
</li>

<li class="dropdown" >
  <a class=" dropdown-toggle" data-toggle="collapse" href="#dropdown-lvl1">
    <i class="fa fa-address-card-o"></i>
    <p style="display: inline-block;">Profile</p></a> 
  <div class="panel-collapse collapse" id="dropdown-lvl1">
    <div class="''">
      <ul class="nav navbar-nav">
        <li>
         
          <a href="#/profile">
            <span class="fa fa-building"></span> Academic Year</a>

        </li>
        <li>
          
          <a href="#/Profilecolleage">
            <span class="fa fa-university"></span> college </a>

        </li> 
     
       
      </ul>
    </div>
  </div>
</li>




    </ul>
</div>
