<div class="row">
  <!-- studnts card number -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div style="background-color: #337ab7;" class="card card-stats">
      <div class="card-body ">
        <div class="row">
         <!-- body of first card counter (students) -->
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Students</p>
              <p class="card-title">09
                <p>
            </div>
          </div>
          <!-- icon of first card counter -->
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-graduation-cap fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <!-- teachers card number -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div style="background-color: #4CAF50;" class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Teachers</p>
              <p class="card-title">52
                <p>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-users fa-3x"></i>
            </div>
          </div>
         
        </div>
      </div>
     
    </div>
  </div>
  <!-- request card number -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div style="background-color: #FFC107;" class="card card-stats">
      <div class="card-body ">
        <div class="row">
          
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Requests</p>
              <p class="card-title">75
                <p>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-newspaper-o fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <!-- subjects card number -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div style="background-color: #FF5722;" class="card card-stats">
      <div class="card-body ">
        <div class="row">
        
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Subjects</p>
              <p class="card-title">163
                <p>
            </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-book fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
 <!-- two charts -->
<div class="row">
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header">
       
        <p class="card-category"> Chart one</p>
      </div>
      <!-- first chart -->
      <div class="card-body">
        <canvas id="myChart0" width="400" height="210"></canvas>
      </div>
     
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header">
       
        <p class="card-category"> Chart two</p>
      </div>
      <!-- second charts -->
      <div class="card-body">
        <canvas id="myChart1" width="400" height="180"></canvas>
      </div>
     
    </div>
  </div>
</div>

