<div class="row">
    <class class="container-fluid">
      <div class="side-body">
        


        <div class="rela-block container">
          <!-- subject card details (pic and # assistant and students) -->
            <div class="rela-block profile-card">
                <div class="profile-pic" id="profile_pic"></div>
                <div class="rela-block profile-name-container">
                    <div class="rela-block user-name" id="user_name">Counting</div>
                   
                </div>
                    <div class="rela-block profile-card-stats">
                        <div class="floated profile-stat works" id="num_works">28<br></div>
                        <div class="floated profile-stat followers" id="num_followers">112<br></div>
                    </div>
                </div>
          <!-- teacher's subjects  -->
            <div class="rela-block content">
              <!-- first subject -->
                 <div  style="display: inline-block;" class="col-sm-3">
                  <!-- subject card -->
                        <div class="product-card">
            
                          <div class="product-tumb">
                                      <img src="..\assets\img\science.png" alt="">
                          </div>
                          <div class="product-details">
                    
                                      <h3>Dina Ali </h3>
                                      <p>Cairo Unvirsity</p>
                                     
                    
                          </div>
                              </div>
                              <!-- view button -->
                              <div class="danger"> <button type="button" style="width: 100%; margin-bottom: 14%;"
                                class="btn btn-danger">View</button></div>
                              </div>
             <!-- second subject -->
                 <div style="display: inline-block;" class="col-sm-3">
                        <div class="product-card">
                            <!-- subject image -->
                            <div class="product-tumb">
                                  <img src="..\assets\img\science.png" alt="">
                            </div>
                            <!-- subject details -->
                         <div class="product-details">
                              <h3>sara Ahmed</h3>
                              <p>Cairo Unvirsity</p>
                          </div>
                              </div>
                           <!-- button to view the subject details -->
                              <div class="danger"> <button type="button" style="width: 100%; margin-bottom: 14%;"
                                class="btn btn-danger">View</button></div>
                              </div>


              <!-- third subject -->
                 <div style="display: inline-block;" class="col-sm-3">
                                <div class="product-card">
                                  <!-- subject photo -->
                                  <div class="product-tumb">
                                      <img src="..\assets\img\science.png" alt="">
                                  </div>
                                  <!-- subject details -->
                                  <div class="product-details">
                                      <h3>Mona Ahmed</h3>
                                      <p>Cairo Unvirsity</p>
                                  </div>
                              </div>
                              <!-- button to show the details -->
                              <div class="danger"> <button type="button" style="width: 100%; margin-bottom: 14%;"
                                class="btn btn-danger">View</button>
                              </div>
                          </div>
              <!-- forth subject -->
                  <div style="display: inline-block;" class="col-sm-3">
                        <div class="product-card">
                              <!-- subject photo -->
                              <div class="product-tumb">
                                  <img src="..\assets\img\science.png" alt="">
                              </div>
                              <!-- subject details -->
                              <div class="product-details">
                                  <h3>Mona Ahmed</h3>
                                  <p>Cairo Unvirsity</p>
                              </div>
                          </div>
                          <!-- button to show the details -->
                          <div class="danger"> <button type="button" style="width: 100%; margin-bottom: 14%;"
                            class="btn btn-danger">View</button>
                          </div>
                      </div>
                          
                            
                            </div>
                            </div>

  
       
  
      </div>
  
    </class>
  </div>