<div class="row">
    <class class="container-fluid">
      <div class="side-body">
        


        <div class="rela-block container">
            <div class="rela-block profile-card">
              <!-- teacher profile -->
                <div class="profile-pic" id="profile_pic"></div>
                <!-- teacher's details -->
                <div class="rela-block profile-name-container">
                    <div class="rela-block user-name" id="user_name">Sara Ali</div>
                    <div class="rela-block user-desc" id="user_description">Cairo unvirsaity</div>
                    <div class="rela-block user-desc" id="user_description">saraAli@gmail.com</div>
                    <div class="rela-block user-desc" id="user_description">0175778905</div>
                    <div class="rela-block user-desc" id="user_description">23165865325675</div>
                </div>
                <!-- # Assistant and # students -->
                    <div class="rela-block profile-card-stats">
                        <div class="floated profile-stat works" id="num_works">28<br></div>
                        <div class="floated profile-stat followers" id="num_followers">112<br></div>
                    </div>
                </div>
                <!-- teacher's subject -->
                        <div class="rela-block content">
                          <!-- subject one card -->
                            <div style="display: inline-block;"  class="col-sm-3">
                                <div class="product-card">
            
                                  <div class="product-tumb">
                                      <img src="..\assets\img\science.png" alt="">
                                  </div>
                                  <div class="product-details">
                    
                                      <h3>Counting</h3>
                                      <p>Dina Ali </p>
                                     
                    
                                  </div>
                              </div>
                              <div class="danger"> <button type="button" style="width: 100%; margin-bottom: 14%;"
                                class="btn btn-danger">View</button></div>
                              </div>
                              <!-- subject two card -->
                              <div style="display: inline-block;" class="col-sm-3">
                                <div class="product-card">
            
                                  <div class="product-tumb">
                                      <img src="..\assets\img\science.png" alt="">
                                  </div>
                                  <div class="product-details">
                    
                                      <h3>Counting</h3>
                                      <p>Dina Ali</p>
                                    
                    
                                  </div>
                              </div>
                              <div class="danger"> <button type="button" style="width: 100%; margin-bottom: 14%;"
                                class="btn btn-danger">View</button></div>
                              </div>
                              <!-- subject three card -->
                              <div style="display: inline-block;" class="col-sm-3">
                                <div class="product-card">
            
                                  <div class="product-tumb">
                                      <img src="..\assets\img\science.png" alt="">
                                  </div>
                                  <div class="product-details">
                    
                                      <h3>Counting</h3>
                                      <p>Dina Ali </p>
                                     
                    
                                  </div>
                              </div>
                              <div class="danger"> <button type="button" style="width: 100%; margin-bottom: 14%;"
                                class="btn btn-danger">View</button></div>
                              </div>
                              <!-- subject four card -->
                              <div style="display: inline-block;" class="col-sm-3">
                                <div class="product-card">
            
                                  <div class="product-tumb">
                                      <img src="..\assets\img\science.png" alt="">
                                  </div>
                                  <div class="product-details">
                    
                                      <h3>Counting</h3>
                                      <p>Dina Ali </p>
                                      
                    
                                  </div>
                              </div>
                              <div class="danger"> <button type="button" style="width: 100%; margin-bottom: 14%;"
                                class="btn btn-danger">View</button></div>
                              </div>
                          
                            
                            </div>
                            </div>

  
       
  
      </div>
  
    </class>
  </div>