<div class="row">
    <class class="container-fluid">
      <div class="side-body">
      


<!-- form of content of data -->
<button type="submit" id="done"class="btn btn-primary btn-lg" (click)="addcol()">Add</button>
<div class="wrapper">
<div class="Rtable Rtable--5cols Rtable--collapse">
<div class="Rtable-row Rtable-row--head">
  <div class="Rtable-cell date-cell column-heading">ID</div>
  <div class="Rtable-cell date-cell column-heading">Name</div>
  <div class="Rtable-cell access-link-cell column-heading">Edit</div>
  <div class="Rtable-cell replay-link-cell column-heading">Delete</div>
 
</div>

<div class="Rtable-row">
  <div class="Rtable-cell date-cell">
    <div class="Rtable-cell--heading">ID</div>
    <div class="Rtable-cell--content date-content"><span class="webinar-date">1- </span></div>
  </div>
  <div class="Rtable-cell date-cell">
    <div class="Rtable-cell--heading">Name</div>
    <div class="Rtable-cell--content date-content"><span class="webinar-date">Faculty of medicine</span></div>
  </div>
  <div class="Rtable-cell access-link-cell">
    <div class="Rtable-cell--heading">Edit</div>
    <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="fa fa-pencil-square-o"></i></a></div>
  </div>
  <div class="Rtable-cell replay-link-cell">
    <div class="Rtable-cell--heading">Delete</div>
    <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="fa fa-times"></i></a></div>
  </div>

</div>

<div class="Rtable-row is-striped">
  <div class="Rtable-cell date-cell">
    <div class="Rtable-cell--heading">ID</div>
    <div class="Rtable-cell--content date-content"><span class="webinar-date">2-</span></div>
  </div>
  <div class="Rtable-cell date-cell">
    <div class="Rtable-cell--heading">Name</div>
    <div class="Rtable-cell--content date-content"><span class="webinar-date">Faculty of Computer and information</span></div>
  </div>
  <div class="Rtable-cell access-link-cell">
    <div class="Rtable-cell--heading">Edit</div>
    <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="fa fa-pencil-square-o"></i></a></div>
  </div>
  <div class="Rtable-cell replay-link-cell">
    <div class="Rtable-cell--heading">Delete</div>
    <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="fa fa-times"></i></a></div>
  </div>

</div>

<div class="Rtable-row">
  <div class="Rtable-cell date-cell">
    <div class="Rtable-cell--heading">ID</div>
    <div class="Rtable-cell--content date-content"><span class="webinar-date">3- </span></div>
  </div>
  <div class="Rtable-cell date-cell">
    <div class="Rtable-cell--heading">Name</div>
    <div class="Rtable-cell--content date-content"><span class="webinar-date">Faculty of Commerce</span></div>
  </div>
  <div class="Rtable-cell access-link-cell">
    <div class="Rtable-cell--heading">Edit</div>
    <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="fa fa-pencil-square-o"></i></a></div>
  </div>
  <div class="Rtable-cell replay-link-cell">
    <div class="Rtable-cell--heading">Delete</div>
    <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="fa fa-times"></i></a></div>
  </div>

</div>

<div class="Rtable-row is-striped">
  <div class="Rtable-cell date-cell">
    <div class="Rtable-cell--heading">ID</div>
    <div class="Rtable-cell--content date-content"><span class="webinar-date">4- </span><br /></div>
  </div>
  <div class="Rtable-cell date-cell">
    <div class="Rtable-cell--heading">Name</div>
    <div class="Rtable-cell--content date-content"><span class="webinar-date">Faculty of Engineering</span><br /></div>
  </div>
  <div class="Rtable-cell access-link-cell">
    <div class="Rtable-cell--heading">Edit</div>
    <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="fa fa-pencil-square-o"></i></a></div>
  </div>
  <div class="Rtable-cell replay-link-cell">
    <div class="Rtable-cell--heading">Delete</div>
    <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="fa fa-times"></i></a></div>
  </div>

</div>




</div>
</div>

  
       
  
      </div>
  
    </class>
  </div>